<!DOCTYPE html>
<html>
  <head>
    <title>MimiServer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- nazo script -->
    <script> 
        function Check(){
        if(document.earphoneform.age.value==""){
        alert("年齢を入力してください。");
        return false;
        }
        if(document.earphoneform.sex.value==""){
        alert("性別を選択してください。");
        return false;
        }
        if(document.earphoneform.occupation.value==""){
        alert("職業を選択してください。");
        return false;
        }
        if(document.earphoneform.use.value==""){
        alert("質問４を選択してください。");
        return false;
        }
        if(document.earphoneform.badear.value==""){
        alert("質問１０を選択してください。");
        return false;
        }
        if(document.earphoneform.earage.value==""){
        alert("耳年齢を測定してください。");
        return false;
        }
        return true;
        }
        
        function mp31000()
        {
        str1="60歳以上";
        document.earphoneform.earage.value=str1;
        }
        function mp32000()
        {
        str1="60歳以上";
        document.earphoneform.earage.value=str1;
        }
        function mp33000()
        {
        str1="60歳以上";
        document.earphoneform.earage.value=str1;
        }
        function mp34000()
        {
        str1="60歳以上";
        document.earphoneform.earage.value=str1;
        }
        function mp35000()
        {
        str1="60歳以上";
        document.earphoneform.earage.value=str1;
        }
        function mp36000()
        {
        str1="60歳以上";
        document.earphoneform.earage.value=str1;
        }
        function mp37000()
        {
        str1="60歳以上";
        document.earphoneform.earage.value=str1;
        }
        function mp38000()
        {
        str1="60歳以上";
        document.earphoneform.earage.value=str1;
        }
        function mp39000()
        {
        str1="50代後半";
        document.earphoneform.earage.value=str1;
        }
        function mp310000()
        {
        str1="50代半ば";
        document.earphoneform.earage.value=str1;
        }
        function mp311000()
        {
        str1="50代前半";
        document.earphoneform.earage.value=str1;
        }
        function mp312000()
        {
        str1="40代後半";
        document.earphoneform.earage.value=str1;
        }
        function mp313000()
        {
        str1="40代半ば";
        document.earphoneform.earage.value=str1;
        }
        function mp314000()
        {
        str1="40代前半";
        document.earphoneform.earage.value=str1;
        }
        function mp315000()
        {
        str1="30代";
        document.earphoneform.earage.value=str1;
        }
        function mp316000()
        {
        str1="20代後半";
        document.earphoneform.earage.value=str1;
        }
        function mp317000()
        {
        str1="20代前半";
        document.earphoneform.earage.value=str1;
        }
        function mp318000()
        {
        str1="10代後半";
        document.earphoneform.earage.value=str1;
        }
        function mp319000()
        {
        str1="10代半ば";
        document.earphoneform.earage.value=str1;
        }
        function mp320000()
        {
        str1="10代前半";
        document.earphoneform.earage.value=str1;
        }
        function mp321000()
        {
        str1="10歳以下";
        document.earphoneform.earage.value=str1;
        }
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
